// COLORS
$primary-color: #1D4350;
$secondary-color: #A43931;

$white-color: rgb(49, 48, 48);;

$dark-grey: #333333;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
